sites:
    tare:
        username: ''
        password: test
databases:
    salesforce:
        username: test
        password: test
        token: aosenthu
        sandbox: true
        contact_account: aosnetuhasonetuh
        cache_db:
            driver: pdo_sqlite
            path: ./derp.sql
        mail:
            username: example@example.com
            password: password
            host: smtp.example.com
            port: 587
            smtp_auth: true
            smtp_secure: tls
            send_as: example@example.com
            send_to: example@example.com
